body {
  overflow:hidden;
}

.scroll-content {
  display: inline-block;
}

#content {
  top: 48px;
  bottom: 0;
  position: absolute;
  width: 100%;
}

#content > section {
  height: 100%;
  width: 100%;
  display: none;
  position: relative;
}

#countdown {
  display: inline;
  margin: 0 auto;
}

.scrollbar {
  overflow: hidden;
}
#days {
  padding-left: 50px;
  height: 18px;
}
#days .scroll-content{
  width: 500px;
  height: 25px;
}
#days .scroll-content div {
  width: 100px;
  float: left;
  text-align: center;
}
#periods {

}
#periods .scroll-content {
  width: 50px;
  position: absolute;
}
#periods .scroll-content div {
  height: 100px;
}
#timetableView .table {
  padding: 0;
  display: block;
  -webkit-box-shadow: inset 3px 3px 3px #000;
  position: absolute;
  top: 25px;
  left: 50px;
  bottom: 0;
  right: 0;
  background-color: #333;
}

.light #timetableView .table {
  background-color: #eee;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0,0,0,0.45);
}


#timetableView .table .column {
  width: 100px;
  height: 100%;
  float: left;
  position: relative;
}
#timetableView .table .column div {
  position: absolute;
  background-color: #2B84A5;
}
